/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-color: #f1b2ce;
  --main-title-color: #db00ff;
  --accent-color: #ff0070;
  --subtitle-color: #ff0070;
  --secondary-color: #000028;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --button-color-outline: rgba(255, 0, 112, 0.4);
  --main-font: "IBM Plex mono";
  --main-font-size: 18px;
}
.page.theme_dark .rec {
  display: block;
}

.page.theme_dark .header__title {
  text-shadow: 4px 4px 0px #ff0070;
}

.page.theme_dark .footer__title {
  text-shadow: 4px 4px 0px #ff0070;
}

.page.theme_dark .header__theme-menu {
  color: #ff0070;
}

.page.theme_dark .decorated-zone {
  color: #ff0070;
}