/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-color: #353430;
  --main-title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --subtitle-color: #353430;
  --secondary-color: #353430;
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --button-color-outline: rgba(50, 49, 45, 0.4);
  --main-font: "IBM Plex mono";
  --main-font-size: 18px;
  --indent-paragraph: 20px;
  --indent-subtitle: 10px;
  --padding-sections: 10px;
}

.theme_light .header .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #353430;
    --main-title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --subtitle-color: #353430;
    --secondary-color: #353430;
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --button-color-outline: rgba(50, 49, 45, 0.4);
    --main-font: "IBM Plex mono";
    --main-font-size: 18px;
    --indent-paragraph: 20px;
    --indent-subtitle: 10px;
    --padding-sections: 10px;
  }
  .rec {
    display: none;
  }
  .decorated-zone::after {
    content: "";
    position: absolute;
    inset-block-start: 10px;
    inset-inline-end: 10px;
    block-size: 25px;
    inline-size: 25px;
    border-block-start: 1px solid;
    border-inline-end: 1px solid;
  }

  .decorated-zone::before {
    content: "";
    position: absolute;
    inset-block-end: 10px;
    inset-inline-start: 10px;
    block-size: 25px;
    inline-size: 25px;
    border-block-end: 1px solid;
    border-inline-start: 1px solid;
  }
}

@media (min-width: 768px) {
  .header__title {
    text-shadow: 4px 4px 0px #ff0070;
  }
  .footer__title {
    text-shadow: 4px 4px 0px #ff0070;
  }
}

@media (768px <= width) {
  .decorated-zone::after {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::before {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }
}
