.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  margin: auto;
  max-width: 375px;
  color: var(--main-color);
  font-family: var(--main-font), monospace;
  font-size: var(--main-font-size);
  line-height: 1.3;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: calc(100% - 5%);
  margin-bottom: 40px;
  min-height: 648px;
  height: 100vh;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  block-size: 25px;
  inline-size: 25px;
  border-block-start: 1px solid #ff0070;
  border-inline-end: 1px solid #ff0070;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  block-size: 25px;
  inline-size: 25px;
  border-block-end: 1px solid #ff0070;
  border-inline-start: 1px solid #ff0070;
}

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 74px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.header__theme-menu-button {
  text-transform: lowercase;
  background-color: transparent;
  font-size: var(--main-font-size);
  line-height: 18px;
  padding: 0 13px;
  cursor: pointer;
  border: 0;
  color: var(--button-color);
  height: 26px;
}

button:hover {
  outline: 1px solid var(--button-color-outline);
}

button:focus {
  outline: none;
}

button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.rec {
  position: absolute;
  background-image: url(../images/REC.svg);
  width: 33px;
  height: 26px;
  background-repeat: no-repeat;
  align-self: flex-end;
  background-position: center;
  background-size: contain;
  margin-top: 10px;
  margin-right: 27px;
}

.rec::after {
  content: "";
  display: inline-block;
  background-color: var(--accent-color);
  box-shadow: 0 0 5px var(--accent-color);
  margin-inline-start: 41px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.header__title {
  margin-top: 67px;
}

.big-text {
  font-size: 116px;
  color: var(--main-title-color);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0px #ff8dcb;
}

.header__subtitle {
  color: var(--subtitle-color);
  font-weight: 700;
  font-size: var(--main-font-size);
  font-style: normal;
  line-height: 23.4px;
  margin-top: 55px;
}

.main {
  max-width: 355px;
  margin: 2%;
  margin: auto;
}

.paragraph__title {
  color: var(--subtitle-color);
  font-weight: 700;
  font-size: var(--main-font-size);
  line-height: 23.4px;
  margin-bottom: 19px;
}

.paragraph__subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  margin-bottom: 11px;
}

.paragraph__subtitle-highlight {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

.paragraph__text {
  margin-bottom: 20px;
}

.paragraph {
  margin-bottom: 49px;
}

.paragraph__advice {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-top: 19px;
  margin-bottom: 10px;
}

.picture {
  margin-top: -8px;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.pictures {
  display: grid;
  gap: 20px;
  margin-top: 20px;
}

.footer {
  margin: auto;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  height: 100vh;
  min-height: 668px;
  align-items: center;
  position: relative;
  width: calc(100% - 6%);
}

.footer__title {
  justify-self: center;
}

.link-decor {
  display: inline-block;
  block-size: 1em;
  line-height: 0.8;
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
  cursor: pointer;
}

.link-decor:hover {
  border-bottom: 1px solid currentColor;
}

.link-decor:focus {
  outline: none;
}

.link-decor:focus-visible {
  outline: 1px solid currentColor;
}

@media (min-width: 376px) and (max-width: 767px) {
  .page {
    min-width: 100%;
  }

  .header {
    max-width: 100%;
    margin: auto;
    margin-left: 2%;
    margin-right: 2%;
  }

  .main {
    max-width: calc(100% - 4%);
  }
}

@media (768px <= width < 1024px) {
  .page {
    min-width: 100%;
  }

  .header {
    max-width: 100%;
    margin-bottom: 60px;
    min-height: 984px;
  }

  .main {
    max-width: calc(100% - 4%);
  }

  .rec {
    margin-top: 20px;
    margin-right: 48px;
  }

  .header__theme-menu {
    margin-top: 25%;
    margin-right: 20px;
  }

  .header__title {
    margin-top: 176px;
  }

  .header__text {
    width: calc(100% - 53%);
    margin-top: 160px;
    align-self: flex-end;
    margin-right: 3%;
  }

  .paragraph {
    min-width: 100%;
    margin: auto;
  }

  .flex-container {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .articles {
    max-width: calc(100% - 36%);
    margin-bottom: 57px;
  }

  .paragraph__title {
    max-width: calc(100% - 68%);
  }

  .article__container {
    max-width: calc(100% - 1%);
    margin: auto;
  }

  .tip-section {
    margin-top: 79px;
  }

  .picture-section {
    max-width: calc(100% - 1%);
    margin: auto;
    margin-top: 6px;
  }

  .pictures {
    margin-top: 28px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .sunset {
    grid-column: 1 / 3;
  }

  .icecream {
    grid-column: 3;
    grid-row: 1 / 4;
  }

  .tape {
    grid-column: 1 / 2;
    grid-row: 2/ 5;
  }

  .street {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .books {
    grid-column: 2;
  }

  .footer {
    margin-top: 53px;
    width: 100%;
  }

  .big-text {
    font-size: 120px;
  }

  .decorated-zone::after {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::before {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }
}

@media (1024px <= width) {
  .page {
    max-width: 1024px;
  }

  .header {
    max-width: 100%;
    margin-bottom: 60px;
    min-height: 728px;
  }

  .main {
    max-width: calc(100% - 4%);
  }

  .rec {
    margin-top: 20px;
    margin-right: 48px;
  }

  .header__theme-menu {
    margin: 0;
    margin-top: 18px;
    justify-content: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    margin-top: 280px;
    font-size: 157px;
    line-height: 82.5%;
  }

  .header__text {
    width: calc(100% - 52%);
    align-self: flex-end;
    margin-right: 2%;
    margin-top: 110px;
  }

  .flex-container {
    display: flex;
    gap: 20px;
    margin-bottom: 59px;
  }

  .paragraph__title {
    max-width: calc(100% - 68%);
  }

  .articles {
    max-width: calc(100% - 34%);
  }

  .article__container {
    display: flex;
    gap: 20px;
  }

  .article {
    width: 100%;
  }

  .tip-section {
    margin-top: 59px;
  }

  .pictures {
    margin-top: 28px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .sunset {
    grid-column: 1 / 3;
  }

  .icecream {
    grid-column: 3;
    grid-row: 1 / 4;
  }

  .tape {
    grid-column: 1 / 2;
    grid-row: 2/ 5;
  }

  .street {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .books {
    grid-column: 2;
  }

  .footer {
    min-height: 768px;
    margin-top: 58px;
    width: 100%;
  }

  .big-text {
    font-size: 157px;
  }
}
